@using PersonalAccount.Models.Entities
@model List<Student>
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "_Master";
}

<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <style>
        #tcard {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }

        #card {
            width: 400px;
            height: 353px;
            text-align: center;
            padding: 0px;
            border-radius: 8px;
            color: rgba(48, 77, 152, 1);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }

        #documents {
            background: rgba(102, 102, 102, 0.5);
            width: 600px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            text-align: center;
            padding: 25px;
            border: 2px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            margin: auto;
            background: #fff;
        }

            #documents:target {
                display: block;
            }

        #tcard:target {
            display: block;
        }

        .tHead {
            position: flex;
            width: 1920px;
            height: 60px;
            background: #EEEFF1;
            border: 1px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .line {
            position: relative;
            width: 400px;
            height: 10px;
            background: rgba(48, 77, 152, 1);
        }
    </style>
</head>
<body style="background-color: whitesmoke;">


    <div class="container">
        <table id="sTable" class="table table-striped">
            <thead class="tHead">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Страна</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Пол</th>
                    <th scope="col">Вуз</th>
                    <th scope="col">Документы</th>
                </tr>
            </thead>
            <tbody id="t_student">
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr >
                            <th class="id" scope="row">@i</th>
                            <td class="rowlink">@item.Name</td>
                            <td class="rowlink">@item.Surname</td>
                            <td class="rowlink">@item.Patronymic</td>
                            <td class="rowlink">@item.Country</td>
                            <td class="rowlink">@item.BirthDay.ToString("dd.MM.yyyy")</td>
                            <td class="rowlink">@item.Sex</td>
                            <td class="rowlink">@item.Institute</td>
                            <td class="doclink"><img width="50" height="50" src="~/img/pdf_icon.png" align="right"></td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>



        <div id="modal_auth" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Документы</h5>
                    </div>
                    <div class="modal-body">
                        <!--     pass file       -->
                        <h5 align=" left">Паспорт</h5>
                        <a href="/Account/DownloadPassport"><img width="50" height="50" src="~/img/pdf_icon.png" align="right"></a>
                        <table id="Passport">
                            <tbody>
                            <thead>
                                <tr>
                                    <th scope="row">Номер:</th>
                                    <td id="d_pass"></td>

                                </tr>
                                <tr>
                                    <th scope="col">Дата выдачи: </th>
                                    <td id="passDate"></td>
                                </tr>
                            </thead>
                        </table>

                        <!--     visa file       -->
                        <h5 align=" left">Виза</h5>
                        <a href="/Account/DownloadVisa"><img width="50" height="50" src="~/img/pdf_icon.png" align="right"></a>
                        <table id="Visa">
                            <tbody>
                            <thead>
                                <tr>
                                    <th scope="row">Номер:</th>
                                    <td id="d_visa"></td>
                                </tr>
                                <tr>
                                    <th scope="col">Сроки выдачи: </th>
                                    <td>45739423</td>
                                </tr>
                            </thead>
                        </table>


                        <!--     Договор file       -->
                        <h5 align=" left">Договор</h5>
                        <a href="/Account/DownloadContract"><img width="50" height="50" src="~/img/pdf_icon.png" align="right"></a>
                        <table id="Dogovor">
                            <tbody>
                            <thead>
                                <tr>
                                    <th scope="row">Номер:</th>
                                    <td>
                                        45739423
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">Дата Заключения: </th>
                                    <td>
                                        45739423
                                    </td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="modal_edit" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Документы</h5>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>



        <script>
            $(document).ready(function () {
                $('#sTable').DataTable();
            });

            $(function () {
                $('#t_student').on('click', '.doclink', function () {

                    var authWindow = new bootstrap.Modal(document.getElementById('modal_auth'))
                    authWindow.show()

                    $.ajax({
                        type: "POST",
                        url: "/Account/GetInfo",
                        data: { "id": $(this).find('.id').html() - 1 },
                        success: function (student) {
                            $("#cardName").text(student.Name + ' ' + student.Surname + ' ' + student.Patronymic);
                            $("#cardCourse").text(student.Course);
                            $("#cardCath").text(student.Cathedra);
                            $("#cardDep").text(student.Cathedra);
                            $("#d_name").text(student.Name);
                            $("#d_surname").text(student.Surname);
                            $("#d_patr").text(student.Patronymic);
                            $("#d_pass").text(student.Passport.Number);
                            $("#d_visa").text(student.Visa.Number);
                        },
                    });
                });
            });

            $(function () {
                $('#t_student').on('click', '.rowlink', function () {
                 
                    var editWindow = new bootstrap.Modal(document.getElementById('modal_edit'))
                    editWindow.show()
                });
            });

            $('#btn_search').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Account/Search",
                    data: { "line": $('#txt_search').val() },
                    success: function (s) {
                        alert(s.Name)
                    },
                });
            });
        </script>

    </div>

</body>
</html>