@using PersonalAccount.Models.Entities
@model List<Student>
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "_Master";
}

<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <style>
        #tcard {
            background: rgba(102, 102, 102, 0.5);
            width: 600px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            text-align: center;
            padding: 25px;
            border: 2px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            margin: auto;
            background: #fff;
        }

        #documents {
            background: rgba(102, 102, 102, 0.5);
            width: 600px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            text-align: center;
            padding: 25px;
            border: 2px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            margin: auto;
            background: #fff;
        }
       
        #documents:target {
            display: block;
        }

        #tcard:target {
            display: block;
        }
    </style>
</head>
<body style="background-color: whitesmoke;">
   
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Страна</th>
                </tr>
            </thead>
            <tbody id="t_student">
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr class="rowlink">
                            <th class="id" scope="row">@i</th>
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.Patronymic</td>
                            <td>@item.Country</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>

        <div class="tcard" id="tcard">
            <div class="card">
                <div class="card-body">
                    <h5 id="cardName" class="card-title"></h5>
                    <p id="cardCourse" class="card-text">Курс </p>
                    <p id="cardCath" class="card-text">Кафедра</p>
                    <p id="cardDep" class="card-text">Отделение</p>
                    <a href="#documents" class="opencard">Документы</a>
                    <a href="#" class="btn btn-danger" value="Отмена">отмена</a>
                </div>

            </div>
        </div>


        <div class="documents" id="documents">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th id="d_name" scope="col"></th>
                                <th id="d_surname" scope="col"></th>
                                <th id="d_patr" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Паспорт </td>
                                <td id="d_pass"></td>
                            </tr>
                            <tr>
                                <td>Виза </td>
                                <td id="d_visa"></td>
                            </tr>
                    </table>
                    <a href="pr1.zip" download="pr1.zip"> Скачать документы </a>
                    <a href="#" class="btn btn-danger" value="Отмена">отмена</a>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                $('#t_student').on('click', '.rowlink', function () {
                    document.location.href = "#tcard";
                    $.ajax({
                        type: "POST",
                        url: "/Account/GetInfo",
                        data: { "id": $(this).find('.id').html() - 1 },
                        success: function (strudent) {
                            $("#cardName").text(strudent.Name + ' ' + strudent.Surname + ' ' + strudent.Patronymic);
                            $("#cardCourse").text(strudent.Course);
                            $("#cardCath").text(strudent.Cathedra);
                            $("#cardDep").text(strudent.Cathedra);
                            $("#d_name").text(strudent.Name);
                            $("#d_surname").text(strudent.Surname);
                            $("#d_patr").text(strudent.Patronymic);
                            $("#d_pass").text(strudent.Passport.Number);
                            $("#d_visa").text(strudent.Visa.Number);
                        },
                    });
                });
            });
        </script>

    </div>

</body>
</html>